/*Feuille de style pour : Contact et A propos. Nom : contap.css */

/*Feuille de style A propos : */
/* Ajout d'un style de base pour les écrans de grande taille */
body {
    background-color: white;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.titre0 {
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 4vw;
    line-height: 1.5;
    color: #000000;
    text-align: center;
}

.titre1 {
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 4vw;
    line-height: 1.5;
    color: #000000;
    text-align: center;
    margin-top: 20px;
}

.contenu1 {
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 200;
    font-size: 2vw;
    line-height: 1.5;
    color: #000000;
    text-align: center;
    margin-top: 20px;
}

.avion {
    width: 20vw;
    height: auto;
    display: block;
    margin: 20px auto;
}
.retour-accueil {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000000;
    margin-left: 20px; /* Ajustez la marge selon vos besoins */
}

.retour-accueil img {
	position: absolute;
    width: 50px; /* Ajustez la largeur de la flèche selon vos besoins */
    height: auto;
	top:5em;
   	left: 5em;
}


/* Ajout d'un media query pour les écrans de taille moyenne */
@media only screen and (max-width: 768px) {
    .titre0, .titre1, .contenu1 {
        font-size: 6vw;
    }

    .avion {
        width: 50vw;
    }
}



/*Feuille de style Contact : */

#contacter{
	background-size: cover; /* J'ai modifié la propriété pour couvrir l'ensemble du body */
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #AFAFAF;
}

p.titreCN {
	position: absolute;
	width: 680px;
	height: 266px;
	left: 550px;
	top: 77px;
	font-family: 'Kumbh Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 64px;
	line-height: 79px;
	color: black;
}

p.numéro {
	position: absolute;
	width: 538px;
	height: 98px;
	left: 100px;
	top: 590px;
	font-family: 'Kumbh Sans';
	font-style: normal;
	font-weight: 300;
	font-size: 64px;
	line-height: 79px;
	color: #000000;
}

img.appel {
	position: absolute;
	width: 250px;
	height: 250px;
	left: 220px;
	top: 318px;
}

p.mail {
	position: absolute;
	width: 596px;
	height: 122px;
	left: 980px;
	top: 578px;
	font-family: 'Kumbh Sans';
	font-style: normal;
	font-weight: 300;
	font-size: 64px;
	line-height: 79px;
	color: #000000;
}

img.mail1 {
	position: absolute;
	width: 250px;
	height: 250px;
	left: 1071px;
	top: 318px;
}

p.suivre {
	position: absolute;
	width: 496px;
	height: 110px;
	left: 650px;
	top: 776px;
	font-family: 'Kumbh Sans';
	font-style: normal;
	font-weight: 300;
	font-size: 48px;
	line-height: 60px;
	color: #000000;
}

#buton01 img.insta {
	position: absolute;
	width: 107px;
	height: 107px;
	left: 715px;
	top: 886px;
}

#flèche_2 .retour-accueil {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #000000;
	margin-left: 20px; /* Ajustez la marge selon vos besoins */
}

#flèche_2 .retour-accueil img {
	width: 50px; /* Ajustez la largeur de la flèche selon vos besoins */
	height: auto;
}

/*Feuille de style destinations  : */

#choix {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	margin: 0;
	background-color: #5d7052;
  }
  
  h1 {
	margin-bottom: 20px;
  }
  
  .cadres-container_3 {
	display: flex;
	justify-content: space-around;
	width: 80%;
	margin-top: 17em;
  }
  
  .cadre_3 {
	text-decoration: none;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	width: 200px;
	height: 200px;
	background-color: #e3cd8b;
	text-align: center;
	line-height: 200px;
	font-size: 30px;
	color: #ffffff;
	cursor: pointer;
	margin-bottom: 20px;
	border-radius: 10px;
  }
  
  .cadre_3:hover {
	background-color: #0000004a;
  }
@media only screen and (max-width: 600px) {
	h1 {
		font-size: 1.5em;
	}

	.cadres-container_3 {
		flex-direction: column;
	}

	.cadre_3 {
		margin-bottom: 10px;
	}
}

