@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol&family=Kalam:wght@300;400;700&display=swap');
/*Feuilles de style de : Mahé, La Digue et Praslin. Nom : MDP.css*/

/*Feuille de style de la partie la digue*/

#deuxieme{
	margin: 0;
	padding: 0;
	background-image: url('https://images.unsplash.com/photo-1544550581-5f7ceaf7f992?q=80&w=2030&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); /* Chemin vers  image */
	width: 100%;
	height: 100%;
	object-fit: fill;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
  
#deu{
	background: rgba(217, 217, 217, 0.41);
	padding: 10px 20px; /* Ajout de la marge à gauche et à droite pour séparer le logo et le menu */
	display: flex; /* Utilisation de flexbox pour aligner les éléments horizontalement */
	justify-content: space-between; /* Pousse les éléments aussi loin que possible vers les extrémités */
	align-items: center; /* Centre les éléments verticalement */
}
  
.logo_2 img {
	height: 50px; /* Ajustez la hauteur du logo selon vos besoins */
}
  
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
  
nav ul li {
	display: inline;
	margin-right: 20px;
}
  
nav ul li a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 20px;
}

.content2 {
	padding: 20px;
}
.séparation2{
	display: flex;
	justify-content: center;
	margin-top: 1em;
	color: #FFF;
	font-family: Kaisei Decol;
	font-size: 20px;
	font-weight: 700px;
}
/*.séparation-2{
display: flex;
background-color: aqua;
} */

.container2 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin-left: 8em; /* Décalage vers la droite */
	margin-top: 50px;
}


.rectangle2 {
	width: 330px;
	height: 610px;
	flex-shrink: 0;
	background-color: white;
	text-align: center;
	padding: 10px;
	box-sizing: border-box;
}

.rectangle2 img {
	width: 100%;
	height: auto;
	max-height: 290px;
	object-fit: cover; /* Pour conserver les proportions de l'image */
}

.texte2 {
	margin-top: 10px;
}
#titre2{
	color: #DF7800;
	font-family: Kalam;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
#soustitre2{
	color: #624B20;
	font-family: Kodchasan;
	font-size: 22px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
@media only screen and (max-width: 1200px) {
	.container2 {
	   grid-template-columns: repeat(2, 1fr);
	   margin-left: 4em;
	}
}
 
 @media only screen and (max-width: 768px) {
	.container2 {
	   grid-template-columns: 1fr;
	   margin-left: 2em;
	}
}
 
	 
/*_______________________________________________________________________________________________________________*/

/*Feuille de style de la partie Mahé*/

/*Cette ligne, avec l'astérix va permettre de décaler la page à gauche, donc de la remplir sans qu'il y est de bord*/
#troisieme{
	margin: 0;
	padding: 0;
	background-image: url('https://images.unsplash.com/photo-1512100254544-47340ba56b5d?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); /* Chemin vers  image */
	width: 100%;
	height: 100%;
	object-fit: fill;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#trois {
	background: rgba(217, 217, 217, 0.41);
	padding: 10px 20px; /* Ajout de la marge à gauche et à droite pour séparer le logo et le menu */
	display: flex; /* Utilisation de flexbox pour aligner les éléments horizontalement */
	justify-content: space-between; /* Pousse les éléments aussi loin que possible vers les extrémités */
	align-items: center; /* Centre les éléments verticalement */
}

.logo_3 img {
	height: 50px; /* Ajustez la hauteur du logo selon vos besoins */
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline;
	margin-right: 20px;
}

nav ul li a {
	text-decoration: none;
	color: white;
	font-weight: 700;
	font-size: 24px;
	font-family: kalam;
}

.content {
	padding: 20px;
}
.séparation3{
	display: flex;
	justify-content: center;
	margin-top: 1em;
	color: #FFF;
	font-family: "Kaisei Decol";
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
/*.séparation-2{
display: flex;
background-color: aqua;
} */

.container3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin-left: 8em; /* Décalage vers la droite */
	margin-top: 50px;
}


.rectangle3 {
	width: 330px;
	height: 610px;
	flex-shrink: 0;
	background-color: white;
	text-align: center;
	padding: 10px;
	box-sizing: border-box;
}

.rectangle3 img {
	width: 100%;
	height: auto;
	max-height: 290px;
	object-fit: cover; /* Pour conserver les proportions de l'image */
}

.texte3 {
	margin-top: 10px;
}
#titre3{
	color: #DF7800;
	font-family: Kalam;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
#soustitre3{
	color: #624B20;
	font-family: Kodchasan;
	font-size: 22px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	}
@media only screen and (max-width: 1200px) {
	.container3 {
		grid-template-columns: repeat(2, 1fr);
		margin-left: 4em;
	}
}

@media only screen and (max-width: 768px) {
	.container3 {
		grid-template-columns: 1fr;
		margin-left: 2em;
	}
}


/*_______________________________________________________________________________________________________________*/

/*Feuille de style de la partie Praslin*/

body{
	margin: 0;
	padding: 0;
	background-image: url('https://images.unsplash.com/photo-1512100356356-de1b84283e18?q=80&w=1975&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); /* Chemin vers  image */
	width: 100%;
	height: 100%;
	object-fit: fill;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
  
header {
	background: rgba(217, 217, 217, 0.41);
	padding: 10px 20px; /* Ajout de la marge à gauche et à droite pour séparer le logo et le menu */
	display: flex; /* Utilisation de flexbox pour aligner les éléments horizontalement */
	justify-content: space-between; /* Pousse les éléments aussi loin que possible vers les extrémités */
	align-items: center; /* Centre les éléments verticalement */
}

.logo img {
	height: 50px; /* Ajustez la hauteur du logo selon vos besoins */
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline;
	margin-right: 20px;
}

nav ul li a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 16px;
}

.content {
	padding: 20px;
}
.séparation{
	display: flex;
	justify-content: center;
	margin-top: 1em;
	color: #FFF;
	font-family: "Kaisei Decol";
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
/*.séparation-2{
display: flex;
background-color: aqua;
} */

.container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin-left: 8em; /* Décalage vers la droite */
	margin-top: 50px;
}


.rectangle {
	width: 330px;
	height: 610px;
	flex-shrink: 0;
	background-color: white;
	text-align: center;
	padding: 10px;
	box-sizing: border-box;
}

.rectangle img {
	width: 100%;
	height: auto;
	max-height: 290px;
	object-fit: cover; /* Pour conserver les proportions de l'image */
}

.texte {
	margin-top: 10px;
}
#titre{
	color: #DF7800;
	font-family: Kalam;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
#soustitre{
	color: #624B20;
	font-family: Kodchasan;
	font-size: 22px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
@media only screen and (max-width: 1200px) {
	.container {
	   grid-template-columns: repeat(2, 1fr);
	   margin-left: 4em;
	}
}
 
 @media only screen and (max-width: 768px) {
	.container {
	   grid-template-columns: 1fr;
	   margin-left: 2em;
	}
}
